<div class="w-full flex flex-col justify-center items-center  xl:px-[12vw]  lg:px-[5em] md:px-[5em] py-[6em] maind-ads-bg">
  <h2 class=" text-[1.7em] font-jakartaSansBold">Popular professional services</h2>
  <div class="h-[4px] bg-gray-500 w-[5em] mt-5"></div>
  <div class="grid grid-cols-5 gap-5 w-full mt-10">
    <app-image-card [slide]="'slide1'" [title]="'Plumber'" [desc]="'Lorem ipsum dolor sir amet'"></app-image-card>
    <app-image-card [slide]="'slide2'" [title]="'Carpenter'" [desc]="'Lorem ipsum dolor sir amet'"></app-image-card>
    <app-image-card [slide]="'slide3'" [title]="'Disc Jockey (DJ)'" [desc]="'Lorem ipsum dolor sir amet'"></app-image-card>
    <app-image-card [slide]="'slide4'" [title]="'Room Cleaning'" [desc]="'Lorem ipsum dolor sir amet'"></app-image-card>
    <app-image-card [slide]="'slide5'" [title]="'Nail Artist'" [desc]="'Lorem ipsum dolor sir amet'"></app-image-card>
  </div>
  <button [class]="styles.getButtonStyle('alternative')" class=" font-jakartaSansSemiBold py-3 border-2 mt-[3em] px-10">View More</button>
</div>
