.slide1{
  background-image: url('/assets/imgs/Rectangle 1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide2{
  background-image: url('/assets/imgs/Rectangle 2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide3{
  background-image: url('/assets/imgs/Rectangle 4.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide4{
  background-image: url('/assets/imgs/Rectangle 5.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide5{
  background-image: url('/assets/imgs/Rectangle 6.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
