.post{
  content: url('/assets/imgs/svg/Rectangle 18-1.svg');
}

.freelancer{
  content: url('/assets/imgs/svg/Rectangle 18-2.svg');
}

.pay{
  content: url('/assets/imgs/svg/Rectangle 18-3.svg');
}

.help{
  content: url('/assets/imgs/svg/Rectangle 18.svg');
}

